#nombre{
    font-size: 18px;
    background-color: #435D7D; 
    color: #FAFBFB;
    padding-top: 15px; 
    padding-left:40px;
    bottom: 800px
}
th{
    font-size: 14px;
    background-color: #435D7D;
    color: #FAFBFB;
    padding-top: 5px; 
}
td{
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
}